.notification a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 14px;
    border: 1px solid #d3d3d360;
    border-radius: 5px;
    background: rgb(70,115,170);
background: linear-gradient(0deg, rgba(70,115,170,1) 0%, rgba(16,25,36,0.04945728291316531) 53%);
}