.tech-titles {

}

.tech-titles {
    border: 1px solid #d3d3d360;
    padding: 10px 10px;
    background-color: #303030;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(167, 167, 167, 0.3);
    text-align: center;
    margin: 10px;
    color: white;

}