.scroll-line {
    width: 3px;
    background-color: #009c9c;
    z-index: 100;
    transform: translateX(-50%);
    transition: height 0.3s ease-out;
    box-shadow: 0px 0px 15px rgb(0, 158, 158);
}
