.footer-container {
    display: flex;
    justify-content: space-around;
    width: 1000px;
    margin: auto;
}

.footer-container ul li {
    color: white;
    text-transform: uppercase;
}

ul {
    padding-inline-start: 0px;
}

li {
    list-style: none;
    padding: 0;
}

.footer-column {
    padding-top: 20px;
}